/* @import url("https://fonts.cdnfonts.com/css/pp-neue-montreal"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueMontreal", sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  /* overscroll-behavior: none; */
}

.slick-slide > div {
  margin: 0 2px;
}
